// fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// Variables
$bg-box_1: hsl(31, 77%, 52%);
$bg-box_2: hsl(184, 100%, 22%);
$bg-box_3: hsl(179, 100%, 13%);
$col-p: hsla(0, 0%, 100%, 0.75);
$col-h: hsl(0, 0%, 95%);

// general styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    body {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        font-size: 15px;
        width: 100vw;
        height: 100vh;

        .container {
            display: flex;
            align-content: center;
            align-items: center;
            margin: 50px 100px;

            .Box_1 {
                background: $bg-box_1;
                padding: 50px;
                border-radius: 15px 0 0 15px;
                
                h1 {
                    margin-top: 30px;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                p {
                    width: 80%;
                    text-align: left;
                    line-height: 30px;
                    margin-bottom: 100px;
                }

                .btn {
                    font-family: 'Lexend Deca', sans-serif;
                    color: $bg-box_1;
                    background: hsl(0, 0%, 95%);
                    border-radius: 50px;
                    padding: 20px 40px;
                    text-decoration: none;
                    border: 2px $col-h solid;
                    transition: background 300ms;
                    
                    &:hover {
                        color: $col-h;
                        background: $bg-box_1;
                        outline: none;
                        overflow: hidden;
                        outline-color: transparent;
                        outline-style: none;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    }
                }
            }

            .Box_2 {
                background: $bg-box_2;
                padding: 50px;

                h1 {
                    margin-top: 30px;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                p {
                    width: 80%;
                    text-align: left;
                    line-height: 30px;
                    margin-bottom: 100px;
                }

                .btn {
                    font-family: 'Lexend Deca', sans-serif;
                    color: $bg-box_2;
                    background: hsl(0, 0%, 95%);
                    border-radius: 50px;
                    padding: 20px 40px;
                    text-decoration: none;
                    border: 2px $col-h solid;
                    transition: background 300ms;

                    &:hover {
                        color: $col-h;
                        background: $bg-box_2;
                        outline: none;
                        overflow: hidden;
                        outline-color: transparent;
                        outline-style: none;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    }
                }
            }

            .Box_3 {
                background: $bg-box_3;
                padding: 50px;
                border-radius: 0 15px 15px 0;
                
                h1 {
                    margin-top: 30px;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                p {
                    width: 80%;
                    text-align: left;
                    line-height: 30px;
                    margin-bottom: 100px;
                }

                .btn {
                    font-family: 'Lexend Deca', sans-serif;
                    color: $bg-box_3;
                    background: hsl(0, 0%, 95%);
                    border-radius: 50px;
                    padding: 20px 40px;
                    text-decoration: none;
                    border: 2px $col-h solid;
                    transition: background 300ms;

                    &:hover {
                        color: $col-h;
                        background: $bg-box_3;
                        outline: none;
                        overflow: hidden;
                        outline-color: transparent;
                        outline-style: none;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    }
                }
            }
        }
        
        h1 {
            color: hsl(0, 0%, 95%);
            font-family: 'Big Shoulders Display', cursive;
        }

        p {
            color: hsla(0, 0%, 100%, 0.75);
            font-family: 'Lexend Deca', sans-serif;
        }

        a {
            color: transparent;
        }

        .attribution {
            font-size: 11px;
            text-align: center;
        }
        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media (max-width: 762px) {
    body {
        .container {
            margin: 20px;
            flex-wrap: wrap;

            .Box_1 {
                border-radius: 10px 10px 0 0;

                P {
                    margin-bottom: 40px;
                }
            }

            .Box_2 {
                p {
                    margin-bottom: 40px;
                }
            }

            .Box_3 {
                border-radius: 0 0 10px 10px;

                p {
                    margin-bottom: 40px;
                }
            }
        }
    }
}